.chart_container {
  width: 100%;
  height: auto;
  border: 1px solid orange;
  margin-bottom: 0.5vw;
}
.range_box {
  width: 50%;
  height: 2vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5vw;
}
.range_box input {
  width: 25%;
  height: 100%;
  font-size: 1.5vw;
}
.btn {
  width: 15%;
  height: 100%;
  font-size: 1.2vw;
  border: 1px solid black;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn:nth-child(5) {
  width: 5%;
  font-size: 0.7vw;
}